.menu {
  color: lighten($color-grey, 10);
  padding: 1rem;
  font-family: "Lora", serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__btn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: $color-black;
    z-index: 3;
    border-radius: 50%;
  }

  &__blank {
    &--1,
    &--2,
    &--3 {
      background-color: $color-grey;
      width: 3rem;
      height: 2px;
      position: absolute;
      transition: all 0.5s;
    }

    &--1 {
      top: 29%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    &--2 {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    &--3 {
      top: 71%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  &__back {
    position: fixed;
    top: 0.6rem;
    right: 0.6rem;
    width: 5rem;
    height: 5rem;
    list-style: none;
    background-image: radial-gradient(
      lighten($color-black, 5) 30%,
      $color-primary
    );
    transition: all 0.3s;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
  }
  &__logo {
    width: 10rem;
  }
  &__list {
    position: fixed;
    top: 50%;
    right: -50%;
    transform: translate(50%, -50%);
    list-style: none;
    transition: all 0.5s;
    transition-delay: 0.1s;
    z-index: 2;
  }
  &__item {
    font-size: 4rem;
    color: lighten($color-primary, 30);
    display: inline-block;
    margin-bottom: 4rem;
  }
}
