.hero {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  z-index: -1;
  &__img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 100vh;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-grey, 0.6);
    position: absolute;
  }
}

.heading {
  font-family: "Lora", serif;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0;
  &--1 {
    font-weight: 400;
    font-size: 5vw;
    margin-left: 29%;
    width: 75%;
    padding: 0.5rem 1rem;
    background-color: rgba($color-grey, 0.9);
    @include res(laptop) {
      font-size: 3vw;
    }
  }
  &--2 {
    font-weight: 400;
    font-size: 3vw;
    margin-left: 33%;
    width: 70%;
    color: $color-primary;
    @include res(laptop) {
      font-size: 2vw;
    }
  }
}

.about {
  padding: 1rem;
  text-align: center;
  margin: 7rem 0;
  &__header {
    position: relative;
    width: 40%;
    font-size: 3vw;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0 auto -2.3rem auto;
    text-align: center;
    background-color: white;
    z-index: 0;

    @include res(laptop) {
      width: 30%;
    }

    @include res(tablet) {
      margin: 0 auto -1.3rem auto;
      font-size: 4vw;
    }
  }

  &__text {
    border-top: 1px solid rgba($color-secondary, 0.6);
    border-bottom: 1px solid rgba($color-secondary, 0.6);
    padding: 7vw 0;
    font-size: 1.5vw;
    @include res(tablet) {
      font-size: 2.5vw;
    }
  }
}

.packages {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 5rem;
  justify-content: center;
  @include res(mobile) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  @include res(desktop) {
    grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: 20.5rem 15rem;
  grid-auto-flow: dense;
  grid-gap: 2rem;
  padding: 3rem;
  justify-items: center;
  align-items: center;
  &__heading {
    grid-column: 1/-1;
    font-size: 3vw;
    font-weight: 400;
    border-bottom: 1px solid $color-secondary;
    text-align: center;
    width: 90%;
    padding: 1rem;
    @include res(mobile) {
      font-size: 4.5vw;
    }
  }
  @include res(laptop) {
    padding: 5rem;
  }
}
.footer {
  padding: 3rem;
  background-color: black;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
}
