.testimonials {
  &__person {
    margin-left: 5rem;
    padding: 3rem;
    background-color: rgba($color-grey, 0.5);
    border-radius: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 20vw repeat(2, minmax(max-content, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
    box-shadow: -4px 8px 20px -1px rgba(0, 0, 0, 0.3);
    @include res(tablet) {
      grid-template-rows: 20rem repeat(2, minmax(max-content, 1fr));
      align-content: center;
      justify-content: center;
    }
  }
  &__header {
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
    align-self: end;
    grid-column: 2/-1;
    font-weight: 400;
    color: darken($color-primary, 30);
    @include res(tablet) {
      grid-column: 1/-1;
      grid-row: 3 / span 1;
    }
  }
  &__heading {
    text-align: center;
    font-weight: 400;
    padding: 2rem;
    margin: 5rem auto;
    border-bottom: 1px solid $color-secondary;
    width: 70%;
  }
  &__text {
    grid-column: 2/-1;
    grid-row: 2/2;
    align-self: start;
    @include res(tablet) {
      grid-column: 1/-1;
      grid-row: 4 / span 1;
      font-size: 1.5rem;
    }
  }
  &__name {
    grid-column: 2/-1;
    grid-row: 3 / span 1;
    align-self: end;
    @include res(tablet) {
      grid-column: 1/-1;
      grid-row: 5 / span 1;
      font-size: 1.5rem;
    }
  }
  &__img {
    width: 100%;
    border-radius: 50%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    object-fit: cover;
    @include res(tablet) {
      grid-column: 1/-1;
      grid-row: 1 / span 2;
      height: 100%;
      width: auto;
    }
  }
}
