*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lora", serif;
  letter-spacing: 0.2rem;
}
a {
  text-decoration: none;
  color: $color-grey;
  &:hover {
    color: lighten($color-grey, 10);
  }
  &:active,
  &:visited,
  &:focus {
    outline: none;
  }
}
html {
  font-size: 62.5%;
}
.btn {
  grid-column: 1/-1;
  padding: 1.5rem 5rem;
  margin: 1rem 0;
  background-color: lighten($color-secondary, 10);
  color: $color-primary;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.482) 0px 5px 10px -1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;

  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.482) 0px 6px 12px -1px;
    transform: translateY(-1px);
  }
  &:active {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.482) 0px 4px 5px -1px;
    transform: translateY(1px);
  }
}
