$color-primary: rgb(252, 215, 5);
$color-secondary: rgb(2, 2, 201);
$color-grey: rgb(158, 157, 148);
$color-black: rgb(5, 5, 12);

.ml-sm {
  margin-left: 1rem;
}
.color-primary {
  color: rgba($color-primary, 0.9);
}

@mixin res($bp) {
  @if $bp == desktop {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
  @if $bp == laptop {
    @media only screen and (min-width: 1020px) {
      @content;
    }
  }
  @if $bp == tablet {
    @media only screen and (max-width: 760px) {
      @content;
    }
  }
  @if $bp == mobile {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }
}
