.ml-sm {
  margin-left: 1rem; }

.color-primary {
  color: rgba(252, 215, 5, 0.9); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #9e9d94; }
  a:hover {
    color: #b6b6af; }
  a:active, a:visited, a:focus {
    outline: none; }

html {
  font-size: 62.5%; }

.menu {
  color: #b6b6af;
  padding: 1rem;
  font-family: "Lora", serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .menu__btn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #05050c;
    z-index: 1;
    border-radius: 50%; }
  .menu__blank--1, .menu__blank--2, .menu__blank--3 {
    background-color: #9e9d94;
    width: 3rem;
    height: 2px;
    position: absolute;
    transition: all 0.5s; }
  .menu__blank--1 {
    top: 29%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__blank--2 {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__blank--3 {
    top: 71%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__back {
    position: fixed;
    top: 0.6rem;
    right: 0.6rem;
    width: 5rem;
    height: 5rem;
    list-style: none;
    background-image: radial-gradient(#0d0d1e 30%, #fcd705);
    transition: all 0.3s;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 50%; }
  .menu__logo {
    width: 10rem; }
  .menu__list {
    position: fixed;
    top: 50%;
    right: -50%;
    transform: translate(50%, -50%);
    list-style: none;
    transition: all 0.5s;
    transition-delay: 0.1s; }
  .menu__item {
    font-size: 4rem;
    color: #feef9c;
    display: inline-block;
    margin-bottom: 4rem; }

.hero {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  z-index: -1; }
  .hero__img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 100vh; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .hero::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 157, 148, 0.6);
    position: absolute; }

.heading {
  font-family: "Lora", serif;
  margin: 1.5rem 0; }
  .heading--1 {
    font-weight: 400;
    font-size: 5vw;
    margin-left: 25%;
    width: 75%;
    padding: 0.5rem 1rem;
    background-color: rgba(158, 157, 148, 0.9); }
  .heading--2 {
    font-weight: 400;
    font-size: 3vw;
    margin-left: 30%;
    width: 70%;
    color: #fcd705; }

.about {
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  background-color: #e7e7e4; }
  .about__header {
    width: 80%;
    font-size: 3rem;
    font-weight: 400;
    padding: 0.5rem;
    margin: 3rem auto;
    text-align: center;
    border-bottom: 3px solid rgba(2, 2, 201, 0.6); }
  .about__text {
    font-size: 1.5rem; }

.story {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  width: 100%;
  height: 40vw;
  margin: 3rem auto;
  background-image: linear-gradient(105deg, rgba(158, 157, 148, 0.7) 0%, rgba(254, 247, 207, 0.5) 0%), url("https://images.unsplash.com/photo-1531983412531-1f49a365ffed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  box-shadow: rgba(0, 0, 0, 0.3) -5px 7px 20px 0px;
  background-position: center;
  background-size: cover; }
  .story__header {
    padding: 0.3rem;
    border-bottom: 2px solid rgba(2, 2, 201, 0.5); }
  .story__text {
    padding: 2rem;
    font-size: 1.5rem; }
  .story__points {
    font-size: 1.5rem;
    background-color: rgba(158, 157, 148, 0.8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .story__list {
    list-style: none; }
  .story__item {
    margin-bottom: 1rem; }

.packages {
  width: 100%; }
  .packages__family {
    height: 33%;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(3, 20rem); }
  .packages__pics {
    grid-row: 1/2; }
  .packages__img--1 {
    max-height: 100%;
    grid-column: 1/-1; }
  .packages__img--2 {
    height: 100%;
    grid-column: 2/-1; }
