.ml-sm {
  margin-left: 1rem; }

.color-primary {
  color: rgba(252, 215, 5, 0.9); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Lora", serif;
  letter-spacing: 0.2rem; }

a {
  text-decoration: none;
  color: #9e9d94; }
  a:hover {
    color: #b6b6af; }
  a:active, a:visited, a:focus {
    outline: none; }

html {
  font-size: 62.5%; }

.btn {
  grid-column: 1/-1;
  padding: 1.5rem 5rem;
  margin: 1rem 0;
  background-color: #0303fb;
  color: #fcd705;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.482) 0px 5px 10px -1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.482) 0px 6px 12px -1px;
    transform: translateY(-1px); }
  .btn:active {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.482) 0px 4px 5px -1px;
    transform: translateY(1px); }

.menu {
  color: #b6b6af;
  padding: 1rem;
  font-family: "Lora", serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  @media only screen and (min-width: 1020px) {
    .menu {
      background-color: #05050c;
      padding: 0.5rem;
      display: grid;
      align-items: end;
      grid-template-columns: 10rem 1fr;
      position: fixed;
      z-index: 3; } }
  .menu__btn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #05050c;
    z-index: 3;
    border-radius: 50%; }
    @media only screen and (min-width: 1020px) {
      .menu__btn {
        display: none; } }
  .menu__blank--1, .menu__blank--2, .menu__blank--3 {
    background-color: #9e9d94;
    width: 3rem;
    height: 2px;
    position: absolute;
    transition: all 0.5s; }
    @media only screen and (min-width: 1020px) {
      .menu__blank--1, .menu__blank--2, .menu__blank--3 {
        display: none; } }
  .menu__blank--1 {
    top: 29%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__blank--2 {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__blank--3 {
    top: 71%;
    right: 50%;
    transform: translate(50%, -50%); }
  .menu__back {
    position: fixed;
    top: 0.6rem;
    right: 0.6rem;
    width: 5rem;
    height: 5rem;
    list-style: none;
    background-image: radial-gradient(#0d0d1e 30%, #fcd705);
    transition: all 0.3s;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 50%;
    z-index: 2; }
    @media only screen and (min-width: 1020px) {
      .menu__back {
        display: none; } }
  .menu__logo {
    width: 10rem; }
  .menu__list {
    position: fixed;
    top: 50%;
    right: -50%;
    transform: translate(50%, -50%);
    list-style: none;
    transition: all 0.5s;
    transition-delay: 0.1s;
    z-index: 2; }
    @media only screen and (min-width: 1020px) {
      .menu__list {
        position: relative;
        transform: translate(0);
        width: 100%;
        display: flex;
        justify-content: space-around;
        top: 0;
        right: 0; } }
  .menu__item {
    font-size: 5vw;
    color: #feef9c;
    display: inline-block;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 1020px) {
      .menu__item {
        margin-bottom: 0;
        font-size: 2vw; } }

.hero {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  z-index: -1; }
  .hero__img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 100vh; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .hero::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 157, 148, 0.6);
    position: absolute; }

.heading {
  font-family: "Lora", serif;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0; }
  .heading--1 {
    font-weight: 400;
    font-size: 5vw;
    margin-left: 29%;
    width: 75%;
    padding: 0.5rem 1rem;
    background-color: rgba(158, 157, 148, 0.9); }
    @media only screen and (min-width: 1020px) {
      .heading--1 {
        font-size: 3vw; } }
  .heading--2 {
    font-weight: 400;
    font-size: 3vw;
    margin-left: 33%;
    width: 70%;
    color: #fcd705; }
    @media only screen and (min-width: 1020px) {
      .heading--2 {
        font-size: 2vw; } }

.about {
  padding: 1rem;
  text-align: center;
  margin: 7rem 0; }
  .about__header {
    position: relative;
    width: 40%;
    font-size: 3vw;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0 auto -2.3rem auto;
    text-align: center;
    background-color: white;
    z-index: 0; }
    @media only screen and (min-width: 1020px) {
      .about__header {
        width: 30%; } }
    @media only screen and (max-width: 760px) {
      .about__header {
        margin: 0 auto -1.3rem auto;
        font-size: 4vw; } }
  .about__text {
    border-top: 1px solid rgba(2, 2, 201, 0.6);
    border-bottom: 1px solid rgba(2, 2, 201, 0.6);
    padding: 7vw 0;
    font-size: 1.5vw; }
    @media only screen and (max-width: 760px) {
      .about__text {
        font-size: 2.5vw; } }

.packages {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 5rem;
  justify-content: center; }
  @media only screen and (max-width: 500px) {
    .packages {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); } }
  @media only screen and (min-width: 1400px) {
    .packages {
      grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr)); } }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: 20.5rem 15rem;
  grid-auto-flow: dense;
  grid-gap: 2rem;
  padding: 3rem;
  justify-items: center;
  align-items: center; }
  .gallery__heading {
    grid-column: 1/-1;
    font-size: 3vw;
    font-weight: 400;
    border-bottom: 1px solid #0202c9;
    text-align: center;
    width: 90%;
    padding: 1rem; }
    @media only screen and (max-width: 500px) {
      .gallery__heading {
        font-size: 4.5vw; } }
  @media only screen and (min-width: 1020px) {
    .gallery {
      padding: 5rem; } }

.testimonials {
  position: relative;
  padding: 3rem;
  margin: 5rem 0;
  font-size: 2vw; }
  .testimonials::before {
    content: "testimonials";
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    font-size: 10rem;
    font-family: "Permanent Marker", cursive;
    color: rgba(0, 0, 0, 0.1);
    left: 0;
    top: 50%;
    transform: translate(-43%, -50%) rotate(90deg);
    z-index: -1; }

.footer {
  padding: 3rem;
  background-color: black;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1fr max-content;
  justify-items: center; }

.card {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30rem repeat(auto-fit, minmax(1rem, max-content));
  justify-items: center;
  background-image: linear-gradient(to right bottom, rgba(253, 231, 106, 0.5), rgba(153, 130, 2, 0.5));
  box-shadow: rgba(0, 0, 0, 0.384) -6px 10px 13px 0px; }
  .card__pics {
    grid-row: 1 / span 1;
    grid-column: 1/-1;
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: linear-gradient(to right, rgba(252, 215, 5, 0.3), rgba(158, 157, 148, 0.3)), url("https://images.unsplash.com/photo-1496275068113-fff8c90750d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: bottom left; }
    .card__pics--1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
      height: 100%;
      width: 100%;
      object-fit: cover;
      box-shadow: rgba(0, 0, 0, 0.384) 6px 10px 13px 0px; }
    .card__pics--2 {
      grid-row: 3 / span 3;
      grid-column: 3 / span 3;
      height: 100%;
      width: 120%;
      object-fit: cover;
      box-shadow: rgba(0, 0, 0, 0.384) 4px 3px 20px 3px; }
  .card__icon {
    grid-column: 1/-1;
    margin-top: -2.5rem; }
  .card__header {
    grid-row: 3 / span 1;
    grid-column: 1/-1;
    font-size: 2rem; }
  .card__info {
    grid-row: 4 / span 1;
    grid-column: 1/-1;
    padding: 1rem;
    text-align: center; }
    .card__info__details {
      font-size: 1.3rem; }
    .card__info__price {
      margin-top: 3rem;
      font-size: 3rem; }
  .card .adventure {
    background-image: linear-gradient(to right, rgba(2, 2, 201, 0.3), rgba(158, 157, 148, 0.3)), url("https://images.unsplash.com/photo-1464716821973-e1031cfa43dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"); }
  .card .events {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.767), rgba(158, 157, 148, 0.3)), url("https://images.unsplash.com/photo-1525299917518-9cb5c095c978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
    background-position: center;
    background-size: auto; }
  .card .company {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.767), rgba(158, 157, 148, 0.3)), url("https://images.unsplash.com/photo-1530297654128-7a676e13bc89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; }

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
  cursor: pointer; }
  .image:hover {
    transform: scale(1.05); }
  .image:first-child {
    grid-area: 1 / 1 / span 2 / span 2; }
  .image:nth-child(3n) {
    grid-column: span 2; }
    @media only screen and (max-width: 500px) {
      .image:nth-child(3n) {
        grid-column: span 1; } }
  .image--1 {
    background-image: url("https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--2 {
    background-image: url("https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--3 {
    background-image: url("https://images.unsplash.com/photo-1516600164266-f3b8166ae679?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--4 {
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--5 {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--6 {
    background-image: url("https://images.unsplash.com/photo-1544828267-1443dcddb717?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--7 {
    background-image: url("https://images.unsplash.com/photo-1530933760-343e767695cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--8 {
    background-image: url("https://images.unsplash.com/photo-1525811195752-b37798f34a75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--9 {
    background-image: url("https://images.unsplash.com/photo-1513619371302-207c0b203098?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--10 {
    background-image: url("https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--11 {
    background-image: url("https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }
  .image--12 {
    background-image: url("https://images.unsplash.com/photo-1440332013745-3a1357afa90c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); }

.footer__logo {
  width: 10vw;
  grid-row: 2/3;
  grid-column: 1/-1; }

.footer__links {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: normal;
  display: flex;
  justify-content: space-around; }

.footer__item {
  border-bottom: 1px solid transparent;
  padding: 0.5rem;
  transition: all 0.3s;
  backface-visibility: hidden; }
  .footer__item:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #9e9d94; }

.footer__social {
  grid-row: 3/-1;
  grid-column: 1/-1; }
  .footer__social__link {
    margin-right: 2rem;
    transition: all 0.3s; }
    .footer__social__link:hover {
      color: #0202c9; }

.testimonials__person {
  margin-left: 5rem;
  padding: 3rem;
  background-color: rgba(158, 157, 148, 0.5);
  border-radius: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 20vw repeat(2, minmax(max-content, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  box-shadow: -4px 8px 20px -1px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 760px) {
    .testimonials__person {
      grid-template-rows: 20rem repeat(2, minmax(max-content, 1fr));
      align-content: center;
      justify-content: center; } }
  @media only screen and (max-width: 500px) {
    .testimonials__person {
      margin-left: 2rem; } }

.testimonials__header {
  margin: 2rem 0;
  font-size: 3rem;
  text-align: center;
  align-self: end;
  grid-column: 2/-1;
  font-weight: 400;
  color: #675801; }
  @media only screen and (max-width: 760px) {
    .testimonials__header {
      grid-column: 1/-1;
      grid-row: 3 / span 1; } }

.testimonials__heading {
  text-align: center;
  font-weight: 400;
  padding: 2rem;
  margin: 5rem auto;
  border-bottom: 1px solid #0202c9;
  width: 70%; }

.testimonials__text {
  grid-column: 2/-1;
  grid-row: 2/2;
  align-self: start; }
  @media only screen and (max-width: 760px) {
    .testimonials__text {
      grid-column: 1/-1;
      grid-row: 4 / span 1;
      font-size: 1.5rem; } }

.testimonials__name {
  grid-column: 2/-1;
  grid-row: 3 / span 1;
  align-self: end; }
  @media only screen and (max-width: 760px) {
    .testimonials__name {
      grid-column: 1/-1;
      grid-row: 5 / span 1;
      font-size: 1.5rem; } }

.testimonials__img {
  width: 100%;
  border-radius: 50%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  object-fit: cover; }
  @media only screen and (max-width: 760px) {
    .testimonials__img {
      grid-column: 1/-1;
      grid-row: 1 / span 2;
      height: 100%;
      width: auto; } }
